adf/pipeline/sharepoint_fabric_load_all_lists.json
{
	"name": "sharepoint_fabric_load_all_lists",
	"properties": {
		"activities": [
			{
				"name": "Set batch_id",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batch_id",
					"value": {
						"value": "@pipeline().TriggerId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For each Site",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set batch_id",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set batch_timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Access Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.list_ids",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 8,
					"activities": [
						{
							"name": "Load Sharepoint List Items",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "load_sharepoint_site",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"site_id": {
										"value": "@item().site_id",
										"type": "Expression"
									},
									"lists": {
										"value": "@item().lists",
										"type": "Expression"
									},
									"batch_id": {
										"value": "@variables('batch_id')",
										"type": "Expression"
									},
									"batch_timestamp": {
										"value": "@variables('batch_timestamp')",
										"type": "Expression"
									},
									"sp_access_token": {
										"value": "@activity('Get Access Token').output.access_token",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set batch_timestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batch_timestamp",
					"value": {
						"value": "@pipeline().TriggerTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get SP Credentials",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://npbygg-lakehouse-secrets.vault.azure.net/secrets/lakehouse-data-load-sp-credentials/f206f6fdd75f4aa3ac8129805dbff022?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Access Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get SP Credentials",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": {
						"value": "@concat(\n    'https://login.microsoftonline.com/',\n    json(activity('Get SP Credentials').output.value).tenant_id,\n    '/oauth2/v2.0/token'\n)",
						"type": "Expression"
					},
					"body": {
						"value": "@concat(\n    'grant_type=client_credentials',\n    '&client_id=',\n    json(activity('Get SP Credentials').output.value).client_id,\n    '&client_secret=',\n    json(activity('Get SP Credentials').output.value).client_secret,\n    '&scope=https://graph.microsoft.com/.default'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"list_ids": {
				"type": "array",
				"defaultValue": [
					{
						"site_id": "npbyggas.sharepoint.com,46c3c12b-e22d-450a-b531-daaca195a2f6,e0679fd5-30ca-4371-b6cf-50a3019a777c",
						"lists": [
							{
								"name": "Vurdering",
								"id": "47cfc0b9-14f9-4122-96d4-84601fc3c1db",
								"expand": "fields($select=Anleggsleder,AppAuthor,AppAuthorLookupId,AppEditor,AppEditorLookupId,Attachments,Author,AuthorEmailText,AuthorLookupId,Company,CompanyID,ComplianceAssetId,ContactPerson,ContactPersonCompany,ContactPersonCompanyID,ContactPersonID,ContentType,Created,DocIcon,EMail,Edit,Editor,EditorLookupId,FolderChildCount,ID,ItemChildCount,LinkTitle,LinkTitleNoMenu,Modified,ProjectId,ProjectTitle,SubjectCategory,Title,UECommentOnReview,UEKontrahert,UERatingChoice,UeId,_ColorTag,_ComplianceFlags,_ComplianceTag,_ComplianceTagUserId,_ComplianceTagWrittenTime,_IsRecord,_UIVersionString)"
							},
							{
								"name": "Sitelist",
								"id": "f46aa501-938d-435e-a91b-ce289d736a1c",
								"expand": "fields($select=Active,Anleggsleder,AnleggslederAssistent,AnleggslederAssistentLookupId,AnleggslederLookupId,Ansvarlig_x0020_for_x0020_fakturLookupId,AntallKSAvvik,AntallRUH,Antall_x0020_SJA,Antall_x0020_sjekklister,Antall_x0020_vernerunder,Attachments,Bemanning,Ber_x00f8_rt_x0020_areal,Betalingsbetingelse,Budsjettert_x0020_omsetning_x002,Budsjettert_x0020_omsetning_x0020,By,Bygningstype_x0020_NY,Created,Dekningsbidrag_x0020_n_x00e5_v_x,Dekningsgrad,Dekningsgrad_x0020_n_x00e5_v_x00,Edit,EnterpriseType,EstimertKontrakt,Fakturert_x0020_innev_x00e6_rend,Ferdigstillelsesgrad_x0020_i_x00,Formann,Kalkulator,Prosjekteringsleder,Fremdrift_x0020_vurdering,Fritekst_x0020_fakturering,Fritekst_x0020_til_x0020_omsetni,Fritekststatustilbud,Godkjenner1,Godkjenner2,Godkjenner3,Godkjente_x0020_Endringer,HMS_x0020_Vurdering,HovedUnderProsjekt,Huskeliste_x0020_rapportering,KGAvfallProdusert,KHMS_x0020__x002d__x0020_L_x00f8,KHMS_x0020__x002d__x0020_oppf_x0,KS_x0020_vurdering,KS_x002F_HMS_x002F_Fremdrift_x00,KalkyleNr,Kg_x0020_demontert_x0020_for_x00,Kg_x0020_ombrukt_x0020_i_x0020_p,Kundenskrav,M_x00e5_ltall_x0020_dekningsgrad,Modified,Opprett_x0020_Webhotell,Oppstartsdato,Overleveringsdato,ParentSite,Postnr,ProjectAddress,ProjectNumber,ProjectType,ProsjektlederAssistentLookupId,ReferanseUtgaaendeFaktura,ReportMade,RutineFakturering,SiteAdmin,SiteCompany,SiteCompanyContactNumber,SiteCompanyContactPerson,SiteCompanyContactPersonEmail,SiteCompanyContactPersonID,SiteCompanyContactPersonPhone,SiteCompanyID,SiteCompanyOrgNo,SiteDescription,SiteLink,SiteManager,SiteRelativeUrl,SiteStatus,SiteType,Soknadspliktig,SorteringsgradAvfall,StartDate,Status_x0020_fakturering,SumKontraktsumOgEndringer,Sum_x0020_estimert_x0020_kontrak,Tegn_x0020_fremdriftsfront,Tilbudetsferdigstillelsesgrad,Tilbudsbefaring,Tilbudsfrist,Tildelingsvariant,Tilsyn,Tilsyn1,Title,Totalkostnad_x0020_m_x00e5_nedsl,Totalt_x0020_salg,Utomhus_x0020_areal,Vedst_x00e5_elsesfrist,Viscenario,WebhotelCheck,_x00d8_konomi_x0020_vurdering,id)"
							},
							{
								"name": "Rapportering",
								"id": "15df2fc2-3b18-489a-af7a-ed643114d59e",
								"expand": "fields"
							},
							{
								"name": "Sluttrapport og evaluering",
								"id": "f5d34708-12ac-45ab-bc2e-62ff102ac869",
								"expand": "fields"
							},
							{
								"name": "users",
								"id": "954ff7d3-43df-4e7e-843f-dec3637fadf6",
								"expand": "fields"
							}
						]
					},
					{
						"site_id": "npbyggas.sharepoint.com,641ff01a-cf6d-4346-907d-d6fea824022f,e0679fd5-30ca-4371-b6cf-50a3019a777c",
						"lists": [
							{
								"name": "Contacts",
								"id": "97ea24a6-242e-42db-b309-97c7476bc327",
								"expand": "fields($select=Title,LastNamePhonetic,FirstName,FirstNamePhonetic,FullName,Email,Company,CompanyPhonetic,JobTitle,WorkPhone,HomePhone,CellPhone,WorkFax,WorkAddress,WorkCity,WorkZip,WorkCountry,WebPage,Comments,OtherAddressStreet,OtherAddressCity,OtherAddressPostalCode,OtherAddressCountry,PrimaryContact,IMAddress,MiddleName,SiteStatus,ItemBehavior,InvoSearchIndex,OrgNo,ContactRole,UserField1,UserField2,UserField3,UserField4,NameTitle,Suffix,HomeAddressStreet,HomeAddressCity,HomeAddressStateOrProvince,HomeAddressPostalCode,HomeAddressCountry,ParentContactID,SiteRelativeUrl,SiteLink,ContactStatus,Deleted,ContactID,LinkTitleNoMenu,LinkTitle,IsEmployee,EmployeeNumber,ContactNumber,SecondaryPhone,StartbankApproval,EnvironmentLighthouseApproval,ApprovalInClass,ProductXchange,FrameworkAgreement,CompanyCategories,ComplianceAssetId,MappedEntityOrgNo,PrimaryContactLookup,Betalingsbetingelser,Leverand_x00f8_rnummer,FetchFromCompany,FlowFlag,SyncID,Norsk_x002F_Utlandsregistrert_x0,UtfortPaseplikt,Pasepliktdato,LonnOgArbeidsvilkar,Svartelistet,SertifiseringerGodkjenninger,FritekstFunnKommentarer,CompanyCategoriesLookup,EmployeeStartDate,SalaryType,TempEmployee,Ansattnr,Created,Skjul,_ColorTag,Til_x0020_liste_x0020_over_x0020,Konkurs,Kundegruppe,Beredskapsrolle,Fagkategorier_x003a_Navn,Modified,ID,ContentType,Author,Editor,_UIVersionString,Attachments,Edit,DocIcon,ItemChildCount,FolderChildCount,_ComplianceFlags,_ComplianceTag,_ComplianceTagWrittenTime,_ComplianceTagUserId,_IsRecord,AppAuthor,AppEditor,Skjul)"
							},
							{
								"name": "users",
								"id": "954ff7d3-43df-4e7e-843f-dec3637fadf6",
								"expand": "fields"
							},
							{
								"name": "Relationships List",
								"id": "0fc74adf-fd19-44f0-ba0a-3838a8a9fcf5",
								"expand": "fields"
							},
							{
								"name": "CompanyCategories",
								"id": "f4d656ad-a629-4115-8949-6f4f620268e7",
								"expand": "fields"
							}
						]
					},
					{
						"site_id": "npbyggas.sharepoint.com,22fd4887-08a4-481e-84ba-0a4b6c1bcaf0,235f84db-6323-40db-a9a2-dd0c8b518951",
						"lists": [
							{
								"name": "Rapporteringsgrunnlag",
								"id": "95a2f99a-ca89-4f08-bd80-124f39c588b7",
								"expand": "fields"
							},
							{
								"name": "Rapportliste",
								"id": "db1cab1f-4a2a-4eda-9acf-69da5084a52a",
								"expand": "fields"
							}
						]
					}
				]
			}
		},
		"variables": {
			"batch_id": {
				"type": "String"
			},
			"batch_timestamp": {
				"type": "String"
			},
			"new_content_size": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-20T08:54:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}